@import url("https://fonts.google.com/specimen/Josefin+Sans");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans';
    background-repeat: repeat;
    background-size: cover;
    
}

.container{
    display: flex;
    width: 99.99999999999999999%;
    background-image: url('images/bg-pattern-desktop.svg');
}
.right{
    
    background-size: cover;
}

.right h1,p{
    margin-left: 80px ;
    margin-right: 80px;
    padding-top: 70px;
    
}

.right h1{
    letter-spacing: 20px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 400;
    padding-top: 90px;
    color: #bc8f8f ;
}

span{
    color: #000;
    display: block;
}

.right p{
    line-height: 2;
    letter-spacing: 2;
    color: #BC8F8F;
    padding-top: 10px;
    font-weight: 400;
    
}


.logo{
    padding: 20px;
    margin-left: 60px ;
    
}

input{
    margin-left: 80px ;
    margin-right: 80px;
    margin-top: 30px;
    padding: 9px;
    border: 0.9px solid red;
    border-radius: 20px ;
}

#submit{
    border: 0.9px;
    padding: 10px;
    margin: -80px;
    border-radius: 20px ;
    background-color: rgb(255, 182, 193);
}

